textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    /*background-color: #FFFFFF;
    border: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;*/
}

.clickable-table {
	border-collapse: collapse;
}
.clickable-table-row {
	background-color: #eee;
    border-top: 1px solid #fff;
}
.clickable-table-row:hover {
	background-color: #ccc !important;
}
.clickable-table-row td {
	padding: 3px 5px;
}
.clickable-table-row td:hover {
	cursor: pointer;
}